*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Urbanist', sans-serif;
}
main{
    background: white;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 500px; 
}
.servicescontainer{
    background-color: #F3F3F3;
    width: 100%;
    max-width: 3290px;
    margin: auto;
}
.services{
    width: 100%;
    max-width: 3900px;
    margin: auto;
    padding: 70 0 50 0;
}
.servicestitle{
    font-family: 'Urbanist', sans-serif;
    color: #070707
}
.servicescontainer .servicestitle h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 60px;
}
.servicestitle h2 svg{
    margin-top: 16px;
}

/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 370px;
    padding-left: 70px;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  margin-right: 50px;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 300px;
  border-radius: 30px;
  backface-visibility: hidden;
  overflow: hidden;
}
.thefront img{
  border-radius: 30px;

}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 30px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #0C1B32;
  padding: 60px 20px;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h2, .theback h2{
  color: #E0B451;
  margin-bottom: 30px;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
}

.thefront p, .theback p{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #FFF;
}
/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */
@media screen and (max-width:790px) {
    .servicescontainer{
    padding: 100 0 0 0;
    }
    .servicestitle p{
        margin: auto;
        padding: 0 40;
        font-size:14px;
        margin-bottom: 40px;
    }
    
}